<h1>Homepage</h1>

<div>
  <li>
  <a href ="/bookings">Make a Booking</a>
  </li>
  <li>
  <a href ="/offerings">Make a Rental</a>
  </li>
  <li>
  <a href ="/edit_user_profile">User Settings</a>
  </li>
  <li>
  <a href ="/bookings">Manage Bookings</a>
  </li>
  <li>
  <a href ="/offerings">Manage Rentals/Lessons</a>
  </li>
</div>
